body {
    background-size: cover;
    font-family: 'DynaPuff', cursive;
}

#title {
    font-size: 30px;
    color: white;
}

canvas {
    border: white 5px solid;
    border-radius: 10px;
    box-shadow: 0px 0px 8px cyan;
}